<%= render 'shared/showpage_title', title: @face.user.firstname %> 

<div class="row">
    <div class="col-lg-3 col-xs-3 ">
        <%= gravatar_for @face.user, size: 150 %>
        <p>
            <h5><%= @face.user.firstname %> <%= @face.user.lastname %></h5>
            <h5><%= @face.user.college if @face.user.college? %></h5>
            <h5>State: <%= @face.user.state if @face.user.state? %></h5>
            <h5>Member since: <%= time_ago_in_words(@face.user.created_at) %> ago</h5>
        </p>
    </div>
    <div class="col-lg-9 col-xs-9">

        <div class="show_face">
            <%= image_tag(@face.picture.url, size:"640x480", class:"gravatar") if @face.picture? %>
        </div>
        <h3> <% @face.description %> </h3>
        <div class="well col-lg-9 col-xs-12">
            <p>
                <strong> Description:</strong>
            </p>
            <%= simple_format(@face.description) %>
            <div class="pull-right">
                <%= link_to like_face_path(@face, like: true), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-up">&nbsp</i><%= @face.thumbs_up_total %> &nbsp&nbsp
                <% end %> 
                <%= link_to like_face_path(@face, like: false), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-down">&nbsp</i> <%= @face.thumbs_down_total %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-10 col-xs-12 ">
    <h5> <%= link_to "Return to Faces", faces_path, class: "btn btn-success  btn-small nav_item pull-right" %> </h5>
    <h5> <%= link_to "Edit this Photo", edit_face_path(@face), class: "btn btn-success nav_item pull-right" %> </h5>
</div>