<!DOCTYPE html>
<html>
<head>
  <title>MyDrunkFaces</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="col-xs-12 col-lg-12">
  
  <%= render 'layouts/navigation' %>
  
  <div class="container">
    <%= render 'layouts/messages'  %>
    <%= yield %>
   
  </div>
  
  <div class ="container">   
  <%= render 'layouts/footer' %>
  </div>   
</body>
</html>
